 <div class="centre_logo" id="centre_logo_{{id}}">
            <img class="logo_img" src="{{centreLogoPath}}"/>
         </div>
         <div class="metadata_c1" id="metadata_c1_{{id}}">
            <div>
                ID:{{animalId}}
            </div>
            <div>
                Date:{{date}}
            </div>
         </div>
         <div class="metadata_c2" id="metadata_c2_{{id}}">
            <div>
                <img class="sexIcon" src="{{sexIconPath}}"/>
            </div>
             <div>
                <img class="zygIcon" src="{{zygIconPath}}"/>
            </div>
         </div>